<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://yemiatwork.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>yemiatwork.com</MSDeployServiceURL>
    <DeployIisAppPath>yemiatwork.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>yemioyetoro8</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="yemiatworkdbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=184.168.194.64;Initial Catalog=yemiatworkdb;User ID=yemi;Password=!Pauloo04;Application Name=EntityFramework" Name="Data Source=184.168.194.64;Initial Catalog=yemiatworkdb;User ID=yemi;Password=!Pauloo04;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CustomerOP.yemiatworkdbEntities, CustomerOP" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=184.168.194.64;Initial Catalog=yemiatworkdb;User ID=yemi;Password=!Pauloo04;Application Name=EntityFramework" Name="Data Source=184.168.194.64;Initial Catalog=yemiatworkdb;User ID=yemi;Password=!Pauloo04;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CustomerOP.Models.ApplicationDbContext, CustomerOP" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=184.168.194.64;Initial Catalog=yemiatworkdb;User ID=yemi;Password=!Pauloo04;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)yemiatworkdbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/yemiatworkDB.csdl|res://*/yemiatworkDB.ssdl|res://*/yemiatworkDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=184.168.194.64;Initial Catalog=yemiatworkdb;User ID=yemi;Password=!Pauloo04;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>